/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/views/scribe
/resources/docs
.env
.DS_Store
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
coverage
/.phpunit.cache
.env.production
auth.json
/.fleet
/.vscode
.scribe
.env.local.dev
